# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3

# Media / uploaded files
media/

# IDE
.idea/
.vscode/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db